body{
    background-color: green;
}

.menu{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: greenyellow;
    padding: 7px;
    border-radius: 3px;
    margin: 5px;
    border: 1px solid black ;
}

.menu >a{
    color: black;
    text-decoration: none;
    display: none;
    margin-top: 10px;
    text-align: center;
    
}

.menu:hover >a{
    display: block;
    padding: 2px;
    border-radius: 3px;
}

.menu:hover >a{
    color: gray;
}

h1{
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 45px;
    color: white;
}

div{
    display: inline-block;
    margin-left: 1000px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   
}

h2{
    color: white;
    text-align: center;
}

menu{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 30px;
    padding: 6px;
    border-radius: 3px;
    border: 3px;
   
}


.documento{
    padding: 10px;
    width: 300px;
    background-color: gray;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 100px;
}


.link >a{
    font-size: 22px;
    text-decoration: none;
    color: white;
    
}

.link:hover >a{
    color: red;
}